.nav-l-custom{
    font-size: 16px;
    color: #3C3C3C;
    font-weight: 500;
}
/* top header section */
.top-header-1{
    font-size: 80px;
    color: #FA804C;
}
.top-header-2{
    font-size: 80px;
    color: #3C3C3C;
}